<div class="sidebar-module sidebar-module-inset">
            <h4>Цитата дня:</h4>
            <p><strong>
			<div style="height:auto; width:auto; margin: auto; background-color:#FFFFFF;  solid #8B8B8B;">
				<em>
					Неудача – это наше средство достижения цели.
					Если неудач не происходит, значит мы недостаточно инновационны.
						<p align="right">(с)Илон Маск</p>			
				</em>
			</div>
			</strong></p>
          </div>
		  
		  <div class="sidebar-module sidebar-module-inset">
			<div style="height:auto; width:auto; margin: auto; background-color:#FFFFFF;  solid #8B8B8B;">           
		   <h4>Полезные ссылки:</h4>
            <ol class="list-unstyled">
				<li><a href="https://wolodyx.github.io/2019/03/12/skt-labs.html">Лабораторные работы</a></li>
				<li><a href="http://olocoder.ru/HTML2.html">Уроки html</a></li>
				<li><a href="https://colorscheme.ru/html-colors.html">Таблицы с кодами цветов html</a></li>
				<li><a href="https://www.youtube.com/channel/UC92qVZrw91cEZBpfXamcawA">Видео уроки с канала "Html Blog"</a></li>
				<li><a href="https://ru.stackoverflow.com/questions/641894/git-%D0%B2%D1%8B%D0%B4%D0%B0%D0%B5%D1%82-please-tell-me-who-you-are">Решение ошибки git: “Please tell me who you are.”</a></li>
			</ol>
          </div>
</div>
